.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

.transparent-box {
  background: rgba(248, 245, 245, 0.8); /* Adjust the last value for transparency (0.0 to 1.0) */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 1, 1, 0.2); /* Optional shadow effect */
}

.email-alert {
  color: red;
  display: none;
}

.password-alert {
  color: red;
  display: none;
}


@keyframes gradientBackground {
  0% {
    background-image: url('https://img.freepik.com/premium-photo/growth-business-finance-chart-white-money-stock-graph-data-3d-background-digital-investment-economy-market-profit-financial-banking-graphic-pattern-currency-trading-price-website-wallpaper_79161-2049.jpg'); /* Replace with the path to your image */
    background-size: cover;
  }
  50% {
    background-image: url('https://img.freepik.com/free-vector/white-arrow-background-modern-border-technology-concept-vector_53876-143337.jpg?w=740&t=st=1698918265~exp=1698918865~hmac=08a942e313defc15c2e38b846a1c0a503160be11c8cea791aea3025a595d4d16'); /* Replace with the path to your image */
    background-size: cover;
  }
  100% {
    background-image: url('https://img.freepik.com/free-vector/abstract-arrow-background-white-gradient-business-development-concept-vector_53876-143336.jpg?w=1060&t=st=1698918318~exp=1698918918~hmac=660f24e42a378b90fda40154c032e39d44e8bbb402b97a5a203033e6d597ad62'); /* Replace with the path to your image */
    background-size: cover;
  }

}

/* Apply the animation to the background */
body {
  animation: gradientBackground 10s linear infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
